<div class="titulo">
    <h2>Lemobs</h2>
    <h3>Desafio Técnico</h3>
</div>
<div class="vizContainer">
    <div class="barra">
        <iframe
            src="https://public.tableau.com/views/Lemobs/Lemobs_desafio?:language=pt&:display_count=y&publish=yes&:origin=viz_share_link">
        </iframe>
    </div>
    <div class="pizza">
        <iframe
            src="https://public.tableau.com/views/Graficodepizza-Filmesanos90/Lemobs_desafio?:language=pt&:display_count=y&publish=yes&:origin=viz_share_link">
        </iframe>
    </div>
</div>