/* You can add global styles to this file, and also import other style files */

html, body {
     background: #71716d;
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }
 h2 {
    background: #ffa000;
    color:#ffffff;
    text-align: center;
    }
h3{
  background: #00b9b6;
  text-align: center;
  color:#ffffff;
}

.titulo {
    align-items: center;
    padding-bottom: 0px;
}